body {
  font-family: "inter", Verdana, Geneva, Tahoma, sans-serif;
  background-image: linear-gradient(#001327, #0B2B4B);
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--main-white);
}

:root {
  --main-white: #fefefe;
  --main-dark-text: #000000;
  --nav-color-dark: #000814;
  --cta-main: #dfbf1e;

}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header,
footer {
  font-family: "inter", Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--nav-color-dark);
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 31px;
  font-weight: 500;
}

p {
  font-size: 14px;
}

.cta {
  display: inline-block;
  background-color: var(--cta-main);
  color: var(--main-dark-text);
  font-size: 20px;
  font-weight: 500;
  padding: 12px 22px;
  border-radius: 10px;
  text-decoration: none;
}

/* Nav */

.logo {
  cursor: pointer;
  margin-right: auto;

}
.logo img {
  max-width: 160px;
  max-height: 55px;
}

header nav ul {
  padding: 0px
}

header nav li {
  display: inline-block;
  margin-right: 24px;
}

.nav-position {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  max-width: 1160px;
  margin: auto;
}

header a {
  color: var(--main-white);
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
}

header a:hover {
  opacity: 50%;
}

.active {
  text-decoration: underline;
}

header {
  top: 0;
  position: sticky;
  z-index: 500;
}

/* Footer */

footer {
  margin-top: auto;
  color: var(--main-white);
}

.copy-2022 {
  cursor: pointer;
  margin-right: auto;
  font-size: 16px;
  font-weight: 400;
}

footer nav li {
  display: inline-block;
}

.social-position {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 40px 0px;
  max-width: 1160px;
  margin: auto;
}

footer a {
  color: var(--main-white);
  text-decoration: none;
  padding: 0px 5px;
}

.nav-list span {
  display: none;
}

/* Homepage */

.cta-banner {
  background-image: url("../images/homepage/Hero-img.png");
  background-size: cover;
  min-height: 207px;
  max-width: 1440px;
  margin: auto;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 90%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 90%, transparent 100%);
  position: relative;
  background-position-x: right;
  background-position-y: bottom;
}

.cta-container {
  display: none;
}

.cta-container_small-screen {
  text-align: center;
}



.cta {
  margin: 20px 0px;
}

.cta:hover {
  background-color: var(--main-white);
  border-color: var(--main-white);
}

.new-arrivals,
.top-picks,
.coming-soon {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 323px;
  margin: auto;
  grid-gap: 20px;
}

.new-arrivals h2,
.top-picks h2,
.coming-soon h2 {
  grid-column: -1/1;
  padding: 40px 0px 0px 0px;
}

.new-arrivals img,
.top-picks img,
.coming-soon img,
.cast img,
.might-like img,
.product_sorted img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.5);
}

.product_item:hover{
  margin: -2px;
  border-style: solid;
  border-width: 4px;
  border-radius: 15px;
  color: var(--main-white);
}

.product_item-big:hover {
  margin: 2px;
}

.coming-soon {
  padding: 0px 0px 40px 0px;
}
.coming-soon img:hover {
  transition: .5s ease;
  opacity: 0.3;
}

/** Movies page **/

.product_thor-banner {
  background-image: none;
  mask-image: none;
  min-height: 100%;
  max-width: 100%;
  display: flex;
}

.cta-tag {
  display: inline-block;
  background-color: transparent;
  color: var(--main-white);
  padding: 8.52px 9.2px;
  border-radius: 10px;
  text-decoration: none;
  border-style: solid;
  border-color: var(--main-white);
  font-size: 15.21px;
  font-weight: 600;
  margin: 15px 0px;
}

.cta-tag:hover,
.cta-rent:hover,
.active-tag,
.cta-submit:hover {
  background-color: var(--main-white);
  color: var(--main-dark-text)
}

.movie-sort {
  display: none;
}

.product_sorted {
  padding: 30px 0px 40px 0px;
}

/** product page Doctor Strange **/



.product_drstrange-banner {
  background-image: none;
  min-height: 100%;
  max-width: 100%;
  display: flex;
}

.product-area {
  position: relative;
  max-width: 1160px;
  margin: auto;
  padding: 15px;
  display: flex;
}

.product-img {
  max-width: 373px;
  flex: 0 0 568px;
  display: none;
}

.doctorstrange-product {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.5);
}

.product-info {
  margin-left: 20px;
  margin-top: 15px;
}

.product-info h1 {
  line-height: 100%;
  font-weight: 500;
}

.product-info img{
  padding: 10px 0 20px;
}
.product-info span {
  font-weight: bold;
}

.product-info ul {
  font-size: 16px;
  list-style: none;
  opacity: 75%;
  font-weight: 300;
  padding: 18px 0 45px;
}

.cta-rent {
  background-color: transparent;
  color: var(--main-white);
  border-style: solid;
  border-color: var(--main-white);
  margin: 15px 15px;
  padding: 10px 20px;
  
}

.cta-buy {
  border-style: solid;
  border-color: var(--cta-main);
  margin: 15px 0px;
  padding: 10px 20px;
}

.cast {
  grid-template-columns: repeat(2, 1fr);
}

.cast h2,
.might-like h2 {
  grid-column: -1/1;
  padding: 40px 0px 0px 0px;
}

.cast h3 {
  margin-top: 5px;
}

.might-like {
  padding: 0 0 40px 0;
}

/** Checkout **/

.page_h1-title {
  display: flex;
  justify-content: center;
  padding: 20px 0 0;
}

.info-wrapper {
  background-color: transparent;
  width: 280px;
  padding: 50px 0 0 10px;
}

.input-info {
  margin-bottom: 8px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 5px 0;
}

.info-wrapper h2,
.cart-items h2 {
  padding-bottom: 10px;
}

.input-area {
  width: 100%;
  position: relative;
  margin-right: 12px;
}

.input-area input {
  padding: 8px 8px;
  width: 100%;
  border-radius: 5px;
  
}

.tiny-info {
  width: 30%;
  padding: 14px;
}

.cta-pay {
  background-color: #008000;
  color: var(--main-white);
  text-align: center;
  width: 100%;
}

.cta-pay:hover {
  color: #000000;
}

.checkout-divide {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1160px;
  margin: auto;
  grid-gap: 20px;
  padding: 0 0 30px;
}

.cart_item-position {
  position: relative;
  max-width: 1160px;
  margin: auto;
  padding: 24px 0;
}

.cart-items {
  padding: 50px 0 0 10px;
  width: 280px;
}

.disc-thor {
  margin-left: 10px;
  margin-top: 40px;
}

.disc-thor p {
  opacity: 75%;
  font-size: 16px;
}

.disc-thor h3,
.cast h3 {
  font-size: 20px;
  font-weight: 500;
}

.product-price {
  text-align: end;
}

.product-total {
  margin-top: 17px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.product-total h4 {
  font-weight: 400;
  font-size: 20px;
}

.item-cart img {
  border-radius: 15px;
  box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.5);
}

/** About **/

 .about-banner,
 .street-map {
  background-image: none;
  min-height: 100%;
  max-width: 100%;
  display: flex;
  mask-image: none;
  -webkit-mask-image: none;
}

.about-info {
  position: relative;
  text-align: center;
  min-height: 550px;
  max-width: 800px;
  margin: auto;
  top: 32px;
}

.about-info p {
  margin: 30px;
}

/** Contact Page **/

.contact-title {
  text-align: center;
  padding: 10px;
}

.text-area {
  width: 100%;
  height: 330px;
  padding: 8px 8px;
}

.contact-info {
  padding: 60px 0 0 0;
  width: 280px;
}

.contact-info ul{
  padding: 20px 0;
  list-style: none;
}

.contact-info span {
  font-weight: 700;
}


.info-contact hr {
  margin-right: 12px;
}

.cta-submit {
  width: 260px;
  text-align: center;
  margin: 0px;
}

/** Checkout Success **/

.checkout-success_main {
  max-width: 1160px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.checkout-success_main img {
  margin: auto;
  padding: 0 0 43px;
}

.checkout-success_main h1 {
  padding: 0 0 30px;
}

.checkout-success_main p {
  margin: auto;
  padding: 0 0 50px;
}

.cta-continue,
.checkout-success_main h1,
.checkout-success_main p {
  text-align: center;
}


@media (min-width: 370px){

  header a {
    font-size: 20px;
  }

  footer nav li {
    margin-right: 24px;
  }

  .info-wrapper,
  .cart-items,
  .contact-info {
    width: 370px;
  }

  .cart_item-position {
    padding: 24px 0;
    display: flex;
  }

  .disc-thor {
    margin-left: 20px;
    margin-top: 110px;
  }
  
  .cta-submit {
    width: 350px;
  }

}


@media (min-width: 590px){


  .cta-banner {
    min-height: 550px;
  }
  
  .new-arrivals,
  .top-picks,
  .coming-soon {
    max-width: 575px;
  }

  .product_thor-banner,
  .about-banner,
  .street-map,
  .product_drstrange-banner {
    min-height: 100%;
    max-width: 100%;
  }



}


@media (min-width: 805px){

h1 {
  font-size: 38px;
}

p {
  font-size: 20px;
}

  .new-arrivals,
  .top-picks,
  .coming-soon {
    max-width: 805px;
  }

.product_thor-banner,
.about-banner,
.street-map,
.product_drstrange-banner {
  min-height: 100%;
  max-width: 100%;
}

.movie-sort {
  display: block;
  max-width: 805px;
  margin: auto;
  position: relative;
}

.checkout-divide {
  grid-template-columns: repeat(2, 1fr);
}
.cart-items {
  margin-left: auto;
  margin-right: 0px;
  display: block;
  padding: 50px 10px 0 0;
}

.info-wrapper {
  width: 400px;
}

.cta-submit {
  width: 380px;
}

}


@media (min-width: 1165px){

  h1 {
    font-size: 48px;
  }

  p {
    font-size: 20px;
  }

  .cta-container {
    position: relative;
    text-align: left;
    max-width: 1160px;
    margin: auto;
    top: 158px;
    display: block;
  }

  .cta-container_small-screen {
    display: none;
  }

  .new-arrivals,
  .top-picks,
  .coming-soon {
  grid-template-columns: repeat(4, 1fr);
  max-width: 1160px;
  }

  .product_thor-banner,
  .about-banner,
  .street-map {
    min-height: 450px;
    max-width: 1160px;
  }



  .product_drstrange-banner {
    max-height: 400px;
    max-width: 1440px;
    width: 100%;
    height: 100%;
  }

  .cta-tag {
    padding: 11.52px 21.2px;
    border-radius: 10px;
    font-size: 19.21px;
    margin: 15px 0px;
  }

  .movie-sort {
    max-width: 1160px;
  }

  .product-info {
    margin-left: 118px;
  }

  .cast {
    grid-template-columns: repeat(6, 1fr);
  }

  .product-area {
    display: flex;
  }

  .product-img {
    display: contents;
  }
}
