body {
  font-family: "inter", Verdana, Geneva, Tahoma, sans-serif;
  background-color: #000814;
}

/* Nav */

li,
a {
  font-weight: 700;
  font-size: 20px;
  color: #fefefe;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 28px 137px;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  max-width: 160px;
  max-height: 55px;

}

.nav-list {
  list-style: none;
}

.nav-list li {
  display: inline-block;
  padding: 0px 20px;
}
.nav-list li a:hover {
  opacity: 0.5;
}

.cart {
  cursor: pointer;
  margin-left: 20px;

}

.cart:hover {
  opacity: 0.5;
}

/* Home page */
.cta-banner {
  background-image: url("../images/hero-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 550px;
  color: white;
  background-position-x: right;
  background-position-y: top;
}

